* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.navbar.transparent.navbar-inverse .navbar-inner {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
  background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
  background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
  z-index:1;
  font-weight: 200;
}
.code {
  width: 100%;
  background: #757575 ;
  overflow: hidden;
  position: relative;
  margin-bottom:-5px;
  height: 550px;
}
.top-menu-item {
  width: 40px;
  display: block;
  float: left;
  margin-right: 40px;
  padding: 2px;
}
.emoji {
  display: block;
  font-size: 38px;
  z-index: 1;
  position:absolute;
  margin-top: 130px;
}
.svg {
  position: absolute;
  bottom: -10px;
  width: 700px;
  left: 0;
  right: 0;
  margin: auto;
}
.margin-top-135 {
  margin-top:-135px;
}

.header-styles {
  background-image: linear-gradient(to bottom right, #1c73ff, #9059ff);
  transform: skewY(-1.5deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 425px;
  padding-left: 15%;
}
.header-content-styles {
  padding-top:200px;
  font-size:65px;
  position: relative;
  transform: skewY(1.5deg);
}
.header-one-liner {
  margin-top:-10px !important;
  font-weight: 100;
  font-size: 26px;
  transform: skewY(1.5deg);
}
.header-span-name {
  font-weight: 400;
  font-size: 30px;
}
.header-about-me {
  font-weight:300;
  font-size:35px;
}
.span-about-me {
  font-weight: 400;
  font-size: 25px;
}
.padding-about-me {
  padding: 0px 15px 20px 20px;
}
.font-size-20 {
  font-size:20px;
}
.font-size-15 {
  font-size:15px;
}
.padding-bottom-20 {
  padding-bottom:20px;
}
.font-weight-300 {
  font-weight:300;
}
.header-toolbox {
  font-weight: 400;
  font-size: 35px;
}
.padding-top-10 {
  padding-top:10px;
}
.padding-top-15 {
  padding-top:15px;
}
.margin-bottom-15 {
  margin-bottom:15px;
}
.margin-4 {
  margin:4px;
}
.font-size-16 {
  font-size:16px;
}
.margin-top-2 {
  margin-top:-2px;
}
.margin-bottom-10 {
  margin-bottom:-10px;
}
.padding-none {
  padding:0px;
}
#macbook {
  //display: block;
  animation: macbook .7s linear;
  transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#coder {
  animation: coder .8s linear;
  transform-origin: center center;
}
#coffee {
  animation: coffee 1s linear;
  transform-origin: 83% 80%;
}
#smoke {
  animation: smoke 3s infinite;
}
@keyframes macbook {
  0%{transform: translateY(300px)}
  50%{transform: translateY(10px)}
  100% {transform: translateY(0px)}
}
@keyframes coder {
  0%{transform: scale(0); opacity: 0}
  50%{transform: scale(1.5); opacity: 1}
  100% {transform: scale(1); opacity:1}
}
@keyframes coffee {
  0%{transform: scale(0); opacity: 0}
  50%{transform: scale(1.5); opacity: 1}
  100% {transform: scale(1); opacity:1}
}
@keyframes smoke {
  0%{transform: translateY(0px); opacity: 1;}
  50%{ opacity: .5;}
  100%{transform: translateY(-15px); opacity: 0;}
}
.st0{fill:#EFEFEF;}
.st1{fill:#E3E4E5;}
.st2{fill:#2A333A;}
.st3{opacity:0.5;fill:#9E9E9E;}
.st4{fill:#5C5E60;}
.st5{fill:#404244;}
.st6{fill:#EBECED;}
.st7{fill:#FFFFFF;}
.st8{fill:#3C2415;}
.st9{fill:#432818;}
.st10{fill:#563726;}
.st11{fill:#FCFCFC;}
.st12{opacity:0.5;fill:#FCFCFC;}
.st13{fill:none;stroke:#EBECED;stroke-width:5;stroke-miterlimit:10;}
.st14{fill:#FEFEFE;}
.st15{fill:#EF7665;}
.st16{fill:#A4D9E4;}
.st17{fill:#B8C7CD;}
.st18{fill:#474A4E;}
.st19{fill:#65B6C1;}
.st20{fill:#F46C69;}
.st21{fill:#7C7F83;}
.st22{fill:#FFFFFE;}
.st23{fill:#F96759;}
footer.page-footer{margin-top:1px;}
.text-align-center{text-align:center;}
.row{margin-bottom:0px;}
.no-pad-bot{padding-top:0px;}
img.responsive-img, video.responsive-video{margin-top:15px;}
.link-text{
  border-bottom: 2px #a7ffeb; padding-bottom:4px;
  font-weight: 200;}
a:hover.link-text {
  border-bottom: 2px #4db6ac;
  padding-bottom:4px;
  color: #4db6ac !important;
  font-weight: 350;
}
